*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
header{
    width: 100%;
    margin: 38px 0px;
}
nav{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    font-size: 28px;
    font-weight: 700;
}
nav ul li a{
    text-decoration: none;
    color: #0D1321;
}
nav button{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    border-color: #0D1321;
    padding: 17px 24px;
    cursor: pointer;
}
.hero-section{
    background-image: url('/assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}
.content-center{
    text-align: center;
}
.content-center img{

}
.content-center h1{
color:  #0D1321;
font-size: 48px;
line-height: 68px;
font-weight: 900;
}
.content-center p{
    color:  #0D1321;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin: 24px 0px;
}
.content-center button{
    background: #0D1321;
    color: #ffffff;
    padding: 21px 24px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.content-center button:hover{
    background-color: antiquewhite;
    color: #0D1321;
}

.development{
    margin: 50px 0px;
    
}
.box-bg{
    background: #fafafb;
    padding: 80px;
}
.sec-des{
    background: #fafafb;
    border-radius: 10px;
    
}
.sec-des h3{
    font-size: 32px;
    color: #0D1321;
}
.sec-des p{
    font-size: 16px;
    color: #0D1321;
}
.box-wrap{
    padding: 48px;
    background: #ffffff;
    border-radius: 10px;
    margin: 25px 0px;
    display: flex;
    gap: 50px;
    
}
.box-wrap h4{
    font-size: 24px;
    line-height: 36px;
}
.box-wrap p{
    font-size: 16px;
    margin: 16px 0px;
}
.box-wrap button{
    font-size: 20px;
    color: #0D1321;
    padding: 12px;
    border-radius: 5px;
}